# Data Understanding

### Import Data

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

client = 'TOOL_CLIENT.csv'
sales  = 'TOOL_SALES.csv'

In [9]:
df_client = pd.read_csv(client)
df_sales = pd.read_csv(sales)

df = pd.merge(df_client, df_sales, on='CLIENT_ID')
df = df.drop(['CLIENT_ID'], axis=1)

df.head()

/var/folders/nr/4kkf0lts6dj62jvx76l5486h0000gn/T/ipykernel_2197/3563654711.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sales = pd.read_csv(sales)

,CLIENT_CREATE DATE,REGION,TRADE SECTOR,N_EMPLOYEES,ECONOMIC_POT,ECO_POT_CLASS,RISK_CAT,YYYYMM,ITEM_ID,FLG_TOOL,SALES_CHANNEL,NET,UNIT,FAMILY_CODE,GROUP_CODE,CANCELLED
0,2005-11-15 00:00:00,BZ,11000,6,8659.81,D,3d,201709,12585,0,C,937.94,P,XBXV2EB,XBXV2EB0102,NaN
1,2005-11-15 00:00:00,BZ,11000,6,8659.81,D,3d,201709,13431,0,C,641.09,P,XBXV2AB,XBXV2AB0102,NaN
2,2005-11-15 00:00:00,BZ,11000,6,8659.81,D,3d,201709,1380,0,C,0.00,P,XBXV2EB,XBXV2EB0102,NaN
3,2005-11-15 00:00:00,BZ,11000,6,8659.81,D,3d,202010,3493,1,C,1341.14,P,XBXV1AF,XBXV1AF0201,NaN
4,2005-11-15 00:00:00,LE,15500,2,681.26,E,3d,201705,8241,0,B,64.51,P,XAES4AA,XAES4AA0101,X

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050449 entries, 0 to 2050448
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   CLIENT_CREATE DATE  object
 1   REGION              object
 2   TRADE SECTOR        int64
 3   N_EMPLOYEES         int64
 4   ECONOMIC_POT        float64
 5   ECO_POT_CLASS       object
 6   RISK_CAT            object
 7   YYYYMM              int64
 8   ITEM_ID             int64
 9   FLG_TOOL            int64
 10  SALES_CHANNEL       object
 11  NET                 float64
 12  UNIT                object
 13  FAMILY_CODE         object
 14  GROUP_CODE          object
 15  CANCELLED           object
dtypes: float64(2), int64(5), object(9)
memory usage: 250.3+ MB

In [ ]:
df['CLIENT_CREATE DATE'] = pd.to_datetime(df['CLIENT_CREATE DATE'])
df['YYYYMM'] = pd.to_datetime(df['YYYYMM'].astype(str), format='%Y%m')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050449 entries, 0 to 2050448
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   CLIENT_CREATE DATE  datetime64[ns]
 1   REGION              object
 2   TRADE SECTOR        int64
 3   N_EMPLOYEES         int64
 4   ECONOMIC_POT        float64
 5   ECO_POT_CLASS       object
 6   RISK_CAT            object
 7   YYYYMM              datetime64[ns]
 8   ITEM_ID             int64
 9   FLG_TOOL            int64
 10  SALES_CHANNEL       object
 11  NET                 float64
 12  UNIT                object
 13  FAMILY_CODE         object
 14  GROUP_CODE          object
 15  CANCELLED           object
dtypes: datetime64[ns](2), float64(2), int64(4), object(8)
memory usage: 250.3+ MB

In [ ]:
#df.to_csv('TOOL_JOINT.csv', index=False)